body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    cursor: url(image/star.png)10 10, auto;
}

@font-face {
    font-family: "CirrusCumulus";
    src: url(font/CirrusCumulus.woff) format("woff");
}

body {
    font-family: "CirrusCumulus";
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0px 0px;
    
}

h1 {
    font-family: "CirrusCumulus";
    font-size: 48px;
    align-items: center;
    font-weight: bolder;
    justify-items: center;
    color: rgb(255, 255, 255);
    padding-left: 30px;
    gap: 40px;
    margin-block-end: 44px;
    margin-block-start:35px;
}

h3 {
    font-family: "CirrusCumulus";
    font-size: 78px;
    align-items: center;
    font-weight: bolder;
    justify-items: center;
    color: rgb(151, 53, 53);
    padding-left: 30px;
    gap: 40px;
    margin-block-end: 34px;
    margin-block-start:5px;
}

h2 {
    font-family: "CirrusCumulus";
    font-size: 18px;
    align-items: center;
    font-weight: bolder;
    justify-items: center;
    color: rgb(245, 141, 198);
    padding-left: 30px;
    padding-right: 120px;
    line-height: 1.5;
}

h4 {
    font-family: "CirrusCumulus";
    font-size: 18px;
    align-items: center;
    font-weight: bolder;
    justify-items: center;
    color: rgb(151, 53, 53);
    padding-left: 30px;
    padding-right: 120px;
    line-height: 1.5;
}

h5 {
    font-family: "CirrusCumulus";
    font-size: 18px;
    align-items: left;
    font-weight: bolder;
    justify-items: left;
    color: rgb(151, 53, 53);
    padding-left: 700px;
    
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.grid-container {
    perspective: 1000px;  /* Crée une perspective pour le retournement */
  }

.grid img {
    transition: transform 5s ease-out; /* Durée de la transition pour l'effet */
}

/* transition photo */

.grid .grid-projet:hover img {
    transform: rotateZ(360deg);
    cursor: url(image/star.png)10 10, auto;
}

.grid .grid-projet:not (:hover) img {
    transition: transform 6s ease-in; /* Animation plus rapide à la sortie */
}





.grid-main {
    background-color: rgb(245, 141, 198);
    display: grid;
    font-family: "CirrusCumulus";
    border-bottom: 0.5px solid rgb(254, 255, 227);
    align-items: stretch;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px;
    cursor: url(image/star.png)10 10, auto;
    
}

@media (min-width:950px) {
    .grid-main{
        grid-template-columns: 500px 1fr;
    }
}

.grid{
    background-color: rgb(255, 255, 255);
    cursor: url(image/star.png)10 10, auto;
}


.grid-texte {
    border-top: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 31px;
    font-size: 20px; 
    cursor: url(image/star.png)10 10, auto;
}

/* .grid-texte::before{
    content:"";
    position: absolute;
    width:100%;
    height: 10px;
    background: red;

} */

.grid-texte span{
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0);
}

.grid-texte:hover span{
    transform-origin: 0 center;
    /* transform: scale(0.8); */
    font-weight: bolder;
    color: rgb(157, 23, 23);
    cursor: url(image/star.png)10 10, auto;
}


.grid-projet{
    background-color:white;
    display: block;
}


img,
video {
    max-width: 100%;
    height: auto;
    justify-items: center;
    width: 100%;
    cursor: url(image/starrose.png)10 10, auto;

}
.sticky {
    position: sticky;
    top: 32px;
    display: grid;
    /* gap: 24px; */
}

.header .sticky {
    position: sticky;
    display: grid;
}

.header .sticky {
    top: 15px;
}


/*pages secondaires*/


.grid2{
    background-color: rgb(255, 255, 255);
    gap: 0;
    cursor: url(image/star.png)10 10, auto;
   
}

.grid-main2 {
    display: grid;
    font-family: "CirrusCumulus";
    background-color: rgb(255, 255, 255);
    align-items: stretch;
    text-decoration: none;
    color: rgb(197, 61, 136);
    margin: 0px;
    gap: 0;
    cursor: url(image/star.png)10 10, auto;
}

@media (min-width:950px) {
    .grid-main2{
        grid-template-columns: 500px 1fr;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .grid-projet2{
    background-color:rgb(245, 141, 198);
    display: block;
}
  .grid-txt {
    align-items: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px; 
    cursor: url(image/star.png)10 10, auto;
    transition: all 0.2s ease-in-out;
}

.grid-txt:hover span{
    transform-origin: 0 center;
    /* transform: scale(0.8); */
    font-weight: bolder;
    color: rgb(157, 23, 23);
    cursor: url(image/star.png)10 10, auto;
}
